* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body {
   background:  black url("/img/space.jpg") repeat;
   width: 500px;
   margin: 0 auto;
   height: 90vh;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   font-family: 'Bodoni Moda', serif;
   color: white;
}

h1 {
   margin-bottom: 2rem;
}

h3 {
   margin: 1rem 0;
}

img {
   margin-bottom: 1.5rem;
}

.new-image {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
}

.more-cats {
      margin-bottom: 6rem;
}

input {
   height: 2rem;
   padding-left: 20px;
   font-family: 'Bodoni Moda', serif;
   font-size: 1.2rem;
}

button {
   height: 2rem;
   width: 25%;
   font-family: 'Bodoni Moda', serif;
   font-size: 1.2rem;
}
